@import url('https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,300,400,500,600,700');
@import "header.css";
@import "hero-section.css";
@import "about.css";
@import "business-verticals.css";
@import "workflow.css";
@import "contact.css";
@import "why-chose-us.css";

body {
    background-color: #fff;
    /*font-family: 'Muli', sans-serif;*/
    font: .9rem/1.8 'Muli', sans-serif;;
    font-weight: 400;
    color: #6f7b8a;
    transition: all .3s ease-in-out;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, ul li, a {
    font-family: 'Poppins', sans-serif;
}

p {
    font-size: .9rem;
}

a:hover {
    text-decoration: none;
}

/*helper styles*/
.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.align-items-center {
    align-items: center;
}

.align-items-flex-start {
    align-items: flex-start;
}

.align-items-flex-end {
    align-items: flex-end;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-space-between {
    justify-content: space-between;
}

.justify-content-space-around {
    justify-content: space-around;
}

/*end helper styles*/

.brand {
    color: #F58436;
    font-weight: 600;
}

.section {
    padding: 4.375rem 0;
}

.section__title {
    text-align: center;
    font-size: 1.7rem;
    text-transform: uppercase;
    color: #1C2331;
    position: relative;
    margin-bottom: 1rem;
}


@media only screen and (max-width: 460px) {
}


#footer-container {
    background-color: #020d1d;
    color: #6f7b8a;
}

#footer-container h1, #footer-container h2, #footer-container h3, #footer-container h4, #footer-container h5, #footer-container h6 {
    color: #fff;
}

#footer-container .widget-title {
    margin-bottom: 40px;
    text-transform: uppercase;
}
#footer-container ul{
    padding-left: 0;
    list-style: none;
}

#footer-container .widget-pages ul li a:hover:before, #footer-container .widget_meta ul li a:hover:before {
    border-color: #fff;
}

#footer-container .widget_calendar caption {
    color: inherit;
}

#footer-container .widget-recent-posts ul li .post-title {
    color: #fff;
}

#footer-container .widget-recent-posts ul li .post-date, #footer-container .widget-recent-posts ul li .post-date:before {
    color: #6f7b8a;
}

#footer-container .widget-recent-posts ul li .post-title:hover, #footer-container .widget-recent-posts ul li .post-date:hover, #footer-container .widget-recent-posts ul li .post-date:hover:before {
    color: #F58436;
}

#footer-container .widget-social .social-media a {
    color: inherit;
    margin-right: 1rem;
}
#footer-container .widget-social .social-media a:last-child {
    margin-right: 0;
}
#footer-container .widget-social .social-media a:hover {
    color: #F58436;
}

#footer-container .widget-contact ul li a {
    color: inherit;
}
.widget-newsletter{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#footer-container .widget-newsletter #newsletter-email {
    border: 1px solid #F58436;
    background-color: transparent;
    color: #6f7b8a;
    padding: .2rem .5rem;
    height: 2rem;
}

#footer-container .widget-newsletter #newsletter-email:focus {
    border-color: #fff;
}

#footer-container .widget-newsletter input[type="submit"] {
    color: #fff;
    height: 2rem;
    padding: 0 1rem;
    background-color: #F58436;
    border:none;
}

#footer-container .widget-newsletter input[type="submit"]:hover {
    color: #fff;
}

#footer {
    padding: 100px 0 65px;
}

#footer .widget:last-child {
    margin-bottom: 0;
}

#footer .widget-pages ul {
    float: left;
    margin-right: 30px;
    font-size: 14px;
}

#footer .widget-pages ul:last-child {
    margin-right: 0;
}

#footer .widget-pages ul li {
    margin-bottom: 15px;
}

#footer .widget-pages ul li:last-child {
    margin-bottom: 0;
}

#footer .widget-pages ul li a {
    padding: 0;
    background-color: transparent;
    color: #8d98a6;
}

#footer .widget-pages ul li a:before {
    position: relative;
    top: -3px;
    display: inline-block;
    width: 6px;
    height: 6px;
    border: 1px solid #8d98a6;
    margin-right: 15px;
}

#footer .widget-pages ul li a:hover {
    color: #F58436;
}

#footer .widget-pages ul li a:hover:before {
    border-color: #F58436;
}

#footer .widget-text > div {
    padding-left: 0;
    border-left: 0;
}

#footer .widget-text > div h3 {
    margin-bottom: 25px;
}

#footer .widget-text > div h4 {
    margin-bottom: 30px;
}

@media (min-width: 1200px) {
    #footer .widget-pages ul {
        margin-right: 50px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #footer .widget-text > div h4 {
        font-size: 16px;
    }
}

@media (max-width: 767px) {
    #footer [class^="col-"] + [class^="col-"] {
        margin-top: 60px;
    }
}

#footer-bottom {
    padding: 15px 0;
    border-top: 1px solid #F58436;
    color: #fff;
}

#footer-bottom .widget:last-child {
    margin-bottom: 0;
}

#footer-bottom .widget-pages ul {
    font-size: 13px;
    text-align: right;
}

#footer-bottom .widget-pages ul li {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 0;
}

#footer-bottom .widget-pages ul li:last-child {
    margin-right: 0;
}

#footer-bottom .widget-pages ul li a {
    padding: 0;
    background-color: transparent;
    color: inherit;
}

#footer-bottom .widget-pages ul li a:before {
    display: none;
}

#footer-bottom .widget-pages ul li a:hover {
    color: #F58436;
}

@media (max-width: 767px) {
    #footer-bottom [class^="col-"] + [class^="col-"] {
        margin-top: 10px;
    }

    #footer-bottom .widget-pages ul {
        text-align: left;
    }
}