@import url('https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,300,400,500,600,700');
@import "header.css";
@import "hero-section.css";
@import "about.css";
@import "business-verticals.css";
@import "workflow.css";
@import "contact.css";
@import "why-chose-us.css";

body {
    background-color: #fff;
    /*font-family: 'Muli', sans-serif;*/
    font: .9rem/1.8 'Muli', sans-serif;;
    font-weight: 400;
    color: #6f7b8a;
    transition: all .3s ease-in-out;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, ul li, a {
    font-family: 'Poppins', sans-serif;
}

p {
    font-size: .9rem;
}

a:hover {
    text-decoration: none;
}

/*helper styles*/
.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.align-items-center {
    align-items: center;
}

.align-items-flex-start {
    align-items: flex-start;
}

.align-items-flex-end {
    align-items: flex-end;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-space-between {
    justify-content: space-between;
}

.justify-content-space-around {
    justify-content: space-around;
}

/*end helper styles*/

.brand {
    color: #F58436;
    font-weight: 600;
}

.section {
    padding: 4.375rem 0;
}

.section__title {
    text-align: center;
    font-size: 1.7rem;
    text-transform: uppercase;
    color: #1C2331;
    position: relative;
    margin-bottom: 1rem;
}


@media only screen and (max-width: 460px) {
}