.why-chose-us{
    /*background-color: #f8f9fa;*/
    background-color: #fff;
}

.why-chose-us p{
    font-size: .9rem;
}

.why-box {
    margin-top: 1.5rem;
    text-align: center;
}

.why-box:last-child {
    border-right: none;
}

.why-box__title {
    font-size: 1.2rem;
    color: #3F729B;
}



.box{
    /*padding: .8rem 0;*/
    position: relative;
    z-index: 999;
    margin-top: 1.5rem;
}
/*.box:after{*/
/*    content: '';*/
/*    position: absolute;*/
/*    width: 80%;*/
/*    height: 100%;*/
/*    background-color: #020d1d;*/
/*    right: 0;*/
/*    top: 0;*/
/*    background-image: url("../images/Picture12.jpg");*/
/*    background-repeat: no-repeat;*/
/*    background-size: cover;*/
/*    z-index: -1;*/

/*}*/
.box__content{
    background-color: #fff;
    width: 100%;
    padding: .5rem;
    padding-right: .8rem;
    text-align: center;
}
.box__title{
    padding: .8rem 0;
}
.box__details{
    font-size: .8rem;
    margin-bottom: 0;
}
